<div id="signup_page">
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel>Basic Details</ng-template>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Full Name</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field><br>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Email Address</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field><br>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Phone Number</mat-label>
                    <input matInput formControlName="firstCtrl" required>
                </mat-form-field><br>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Date of Birth</mat-label>
                    <input matInput [matDatepicker]="picker" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field><br>
                <button (click)="openLogin()" id="signup" mat-stroked-button color="primary">Login</button>
                <button id="login" mat-flat-button color="primary" matStepperNext>Next</button>
            </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel>Location Details</ng-template>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Select Your Country</mat-label>
                    <mat-select [(value)]="country_selected" (selectionChange)="getCities()">
                        <mat-option *ngFor="let country of countries" [value]="country.CODE">
                            {{country.COUNTRY}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Select Your City</mat-label>
                    <mat-select>
                        <mat-option *ngFor="let city of cities" [value]="city.CITY">
                            {{city.CITY}}
                        </mat-option>
                    </mat-select>
                </mat-form-field><br>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>ZIP Code</mat-label>
                    <input matInput formControlName="secondCtrl" required>
                </mat-form-field><br>
                <mat-form-field class="login" appearance="outline">
                    <mat-label>Location</mat-label>
                    <input matInput formControlName="secondCtrl" required>
                </mat-form-field><br>
                <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                </div>
            </form>
        </mat-step>
        <mat-step>
            <ng-template matStepLabel>Done</ng-template>
            <p>You are now done.</p>
            <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
            </div>
        </mat-step>
    </mat-horizontal-stepper>
    <div>